


/* Page Styles - 
   Using Mobile First Approach
================================ */

html {font-size: 16px;}
body {font-style: normal; font-size: 100%; /* 1em = 10px */ font-family: "museo-sans", sans-serif; color: #222;background-color: rgba(197, 214, 219, 0.2);}
#site-container {max-width: 1300px; width: 100%; margin: 0 auto; background: white; overflow: hidden; display: block;}
img {max-width: 100%; height: auto;}
@media \0screen {img {width: auto; /* for ie 8 */}}
#site-container, div {overflow: hidden;}

/* Typography Only
================================ */
@media only screen and (min-width: 767px)   {
a {color: #4c8124; text-decoration: none;}
a:hover {text-decoration: none; color: #3b6a17;}
h1 {font-size: 2.25em;font-weight: 300;letter-spacing: 1px;text-align: center;text-transform: uppercase;color: #464a4f;font-family: "museo-sans";}
h2 {font-size: 1.85em;font-weight: 300; font-style: normal;text-transform: capitalize;color: #44464b;text-align: center;font-family: "museo-sans";}
h3 {font-size: 1.5em;font-weight: 500;text-transform: uppercase;color: #609736;text-align: center;font-family: "museo-sans";}
h4 {font-size: 1.75em;font-weight: medium;color: #6d7079;font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; }
h5 {font-size: 1.12em;font-weight: 600;text-transform: uppercase;color: #6d7079;	font-family: "museo-sans";}
h6 {font-size: .87em;font-weight: 700;text-transform: uppercase;color: #464a4f;border-bottom: 1px solid #cae6d5;margin: 25px 0 9px; padding: 0 0 7px;letter-spacing: 1px;font-family: "museo-sans";}
p {font-size: 1.06em; color: #44464b; font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B';}	
#magentobanner p, #homebanner p {font-size: 1.2em;line-height: 1.5em;margin: 0 auto; padding-bottom: 10px;}

/* Helpers
================================ */
.group:after {content: " ";display: table;clear: both;}
.clear {clear: both;}
html, html a { -webkit-font-smoothing: antialiased;}

/* Nav - Static
================================ */


/* Nav - Fixed
================================ */


/* Footer
================================ */


/* Homepage
================================ */


/* About Page
================================ */


/* Contact Page
================================ */


/* Request A Demo Page
================================ */


/* Pricing Page
================================ */


/* Email Templates
================================ */


/* Cart Abandonment
================================ */


/* Cart Abandonment Rates
================================ */


/* Roi Calculator
================================ */


/* Resources
================================ */


/* Magento Cart Abandonment
================================ */


/* Careers
================================ */


/* Testimonials
================================ */


/* Sitemap
================================ */


/* Industry Pages
================================ */




