
/* ==========================================================================
   Media Queries - Mobile first approach - 
   Media queries added for devices larger than 600px below
   ========================================================================== */
/*	

/* Regular Hide and Show
   Codes - Use at Mobile View
================================ */
.hide-mobile {display: none;}
.show-mobile {display: block;}


/* Typography Only
================================ */
@media only screen and (min-width: 767px) {
a {color: #4c8124; text-decoration: none;}
a:hover {text-decoration: none; color: #3b6a17;}

h1 {
font-size: 2.25em;
font-weight: 300;
letter-spacing: 1px;
text-align: center;
text-transform: uppercase;
color: #464a4f;
}

h2 {
	font-size: 1.85em;
	font-weight: 300; font-style: normal;
	text-transform: capitalize;
	color: #44464b;
	text-align: center;
}

h3 {
	font-size: 1.5em;
	font-weight: 500;
	text-transform: uppercase;
	color: #609736;
	text-align: center;
	font-family: "museo-sans";
}

h4 {
	font-size: 1.75em;
	font-weight: medium;
	color: #6d7079;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; 
}

h5 {
	font-size: 1.12em;
	font-weight: 600;
	text-transform: uppercase;
	color: #6d7079;	
}

h6 {
	font-size: .87em;
	font-weight: 700;
	text-transform: uppercase;
	color: #464a4f;
	border-bottom: 1px solid #cae6d5;
	margin: 25px 0 9px; padding: 0 0 7px;
	letter-spacing: 1px;
}
	
p {font-size: 1.06em; color: #44464b; font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B';}	

#magentobanner p, #homebanner p {font-size: 1.2em;line-height: 1.5em;margin: 0 auto; padding-bottom: 10px;}

}


/* MAX 500 PX
================================ */
@media only screen and (max-width: 500px) {
	#mobile-demo-request {display: block;}
	.masthead nav.primary-menu a.demo-request {display: none;}
	.masthead nav.primary-menu a.signin {display: none;}
	.masthead .site-logo img {width: 180%}
	
	/*.masthead nav.primary-menu { background-color: #609736; float: none; width: 100%; margin:  0 auto; text-align: center; z-index: 999; margin-top: 56px;}
	.masthead nav.primary-menu a {background-color: #609736; color: #fff; display: block; height:20px; padding: 10px;}
	.masthead nav.primary-menu a:hover {background-color: #456f25; color: #fff;}*/

}

/* MAX 600 PX
================================ */

@media only screen and (max-width: 600px) {
	.demo-popup-wrapper {width: 88% !important;max-height: 85% !important;top: 7%;transform: none !important;}

	#clientlogos > div {max-width: 450px; margin: auto;}
	
	#footernav section div {width: 42.5%;height: 130px;margin-bottom: 20px;}
	#footernav section div:last-of-type {height: 290px; width: 42.5%;}
	#footernav section div h6 {width: 30%;}
	#graybar section div {float: none;width: 100%;padding: 0 1.5%;margin: 10px auto;}
	#growthcontent {display: none;}
	#blog-output {display: none;}

	#product-nav {visibility: hidden;}

}

/* MAX 600 PX
================================ */
@media only screen and (max-width: 600px) {

}

/* MIN 550 PX
================================ */
@media only screen and (min-width: 550px) {

	#clientlogos h3 {letter-spacing:.5px;font-size: 1.25em; line-height: 1.5em;}
	#clientlogos span.countUp { display: inline-block; max-width: 167px !important; padding-left: 3px; text-align: left; color: #609736; font-family: "museo-sans"; font-size: 1em; font-style: normal; font-weight: 700; -webkit-transition: all 400ms ease; -moz-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease;}
	#clientlogos span.money {color: #609736; font-family: "museo-sans"; font-size: 1em; font-style: normal; font-weight: 700;}
	#clientlogos span.countMoreUp {color: #346212; 
		transition-duration: .3s; 
		-webkit-transition: all .3s ease-in-out; 
		-moz-transition: all .3s ease-in-out; 
		-ms-transition: all .3s ease-in-out; 
		-o-transition: all .3s ease-in-out;
	}

}


/* MIN 600 PX
================================ */
@media only screen and (min-width: 600px) {

	.hide-at-600 {display: none;}
	.show-at-600 {display: block;}

	#automate-product-show {background-size: initial;background-position-y: 110%;}
	.automate-show-text h1 {width:50% !important;}
	#clientlogos img {
		text-align: center;
		width: 100px;
		max-width: 180px;
		margin: 3.3%;
		vertical-align: middle;
		}
	#retain-show {background-size: 100%;}

	#aboutRejoiner ul.people li {width:22%; float: left;}

	.contactus {background: #fff; width: 80%; padding:2%; margin: 0 auto;}
	#contacttext {background: #fff;}

	#next-webinar div a.register {margin: 0 auto; padding: 4% 4%}
	#upcoming {width:80%; margin: 0 auto; margin-bottom: 3%;}
	#upcoming .event {float: left; width: 45%;}
	#upcoming .event:last-child {float: right;}
	#upcoming .event .register {font-size: 1em; width: 80%;}

	.privacy p,	.terms p {font-size: 1em;}
	.terms .term-concerns {text-align: left; font-size: .95em; margin-bottom: 2%;}

	#req_form form .col.demo-btn {width: 44%; padding-bottom: 0%; float: right; margin-right: 3%;}
	#req_form form .col.demo-btn a#seehow {width: 98%; margin-top: 8%;}
	#req_form form .col {float: left; width: 44%; height: 100%; margin: 0 auto; padding: 0 3%; margin-bottom: 1%}
	#req_form form .shortcol {float: left; width: 44%; padding: 0 3%;}
	#req_form form .shortcol .left-side {width:45%;float: left;}
	#req_form form .shortcol .right-side {width:45%;float: right;}
	#req_form form .shortcol select#op_time {margin-bottom: 0%;}

	#clientlogos h3 {font-size: 1.5em;}

}


/* MIN 700 PX
================================ */
@media only screen and (min-width: 700px) {
	
	.hide-at-700 {display: none;}
	.show-at-700 {display: block;}

	#contactform label {width: 25%; margin: 2% 2.75% 0 0; float: left; display: inline-block;}
	#contactform input, #contactform textarea {width: 70%; margin: 3% 0; margin-bottom: 3%; font-size: 90%; border: 2px solid #efefef; margin-bottom: 1%; float: left;}
	#contactform textarea {margin-bottom: 3%;}
	#contactform .btn {font-size: 100%; padding: 3% 5%; width: 60%; float: right;}

	#webinar-quote {margin-bottom: 4%;}
	#webinar-quote .quote {font-size: 1.75em; margin-top:0;}
	#webinar-quote p:nth-of-type(2) {font-size: 1em;margin: 0 auto;}
	#next-webinar div {float: left;width: 60%; margin-right: 3%; text-align: left;}
	#next-webinar div:last-child { width: 30%; float: right;margin-top: 7%; margin-bottom: auto;}
	#next-webinar div a.register {margin: 0 auto; font-size: 1em; padding: 6% 2%}

}


/* MIN 767 PX
================================ */
@media only screen and (min-width: 767px) {

	.hide-at-767 {display: none;}
	.show-at-767 {display: block;}

	.cart-aband-points {width: 40%;float: left;}
	.cart-aband-points:first-child {margin-left: 4.5%;margin-right: 10%;}

	#wistia-video {width: 60%; margin: 0 auto;}

	.quote-dash img { display: inline; width: 70%; margin: 5% 0% 5% 23%;}

	#automate-product-show {background-position-y: 120%;}
	#automate-text p {width: 65%;}

	/* anchor link helpers */
	#automate {margin-top: 2%; padding-top: 3.5%;}
	#succeed {margin-top: 2%; padding-top: 3.5%;}
	#retain {margin-top: 1%;}
	#optimize {margin-top: 1%; margin-bottom: -1%;}


	.ourstory > div .left {width: 47%; float: left; border: 0;}
	.ourstory > div .right {width: 47%; float: right; border: 0;}
	.ourstory h3 {text-align: left;}
	.ourstory {margin: 0% auto; margin-bottom: 7%;}
	.ourstory > div .left p, .ourstory > div .right p {text-align: left;}

	.email-statistic .wrapper { width: 90%; margin: 0 auto;}
	.email-statistic .template { width: 45%;  height: 100%;  margin: auto;}
	.email-statistic .template:nth-child(1) {float: left; margin-right: 7%;}
	.email-statistic .template_offer { width: 85%;}
	.email-statistic .template .inner { padding: 4%; height: 525px; width: 90%; margin: 0 auto;}
	.email-statistic .inner div {margin: 0 auto;}

	.email-statistic #template_1 {background: url(../img/email-templates/template_1.gif) no-repeat center;}
	.email-statistic #template_2 {background: url(../img/email-templates/template_2.gif) no-repeat center;}
	.email-statistic #template_3 {background: url(../img/email-templates/template_3.gif) no-repeat center;}
	.email-statistic #template_4 {background: url(../img/email-templates/template_4.gif) no-repeat center;}

	.customer article { width: 80%;	margin: 0 auto; height: 100%;}
	.customer article .resume {width: 65%; margin-top: 4%; margin-bottom: 6%;}
	.customer .customer-image {float: left; width: 20%; margin-top: 4%; margin-right: 6%; margin-bottom: 6%;}
	.customer article img {display: inline-block;}
	.customer article .resume p, 
	.customer article .resume h2, 
	.customer article .resume h6 {text-align: left;}
	.section-cta h2 { font-size: 130%; line-height: 130%; margin-bottom: 3%;}

	.privacy .privacy-concerns,
	.terms .term-concerns {width: 80%; margin: 0 auto;}

	#btm-quote { background:#323746;text-align:center; padding: 3%; position: relative;}
	#btm-quote > div {width: 90%; padding:3%; margin: auto; min-height: 170px; height: 100%; display: table;}
	#abandon-text {width: 73%; float: right; padding:3%; margin: auto; min-height: 170px; height: 100%; display: table;}
	.btm-quote-image {float:left; width:150px; text-align:left;}
	.btm-quote-text {width: 72%; text-align:left; float: right;}
	.btm-quote-text p {font-size:24px;line-height:1.5em;color:#ffffff;font-style: italic;font-weight:300;}
	.btm-quote-text p span {color:#7cc576;}
	.btm-quote-text small {letter-spacing:.5px;font-family:'museo-sans';color:#888b9b; font-size:13px; font-weight:500;}



	}


/* MIN 780 PX
================================ */
@media only screen and (min-width: 780px) {

	.hide-at-780 {display: none;}
	.show-at-780 {display: block;}

	.cart-feat-quote-image {float:left;width:17%;margin-right:4%;text-align:left;}
	.cart-feat-text {width: 85%;text-align:left;}
	.cart-feat-text h3 {font-size:18px;line-height:1.5em;color:#44464b;font-style: italic;font-weight:300; text-align: left; text-transform: none;}
	.cart-feat-text small {letter-spacing:.5px;font-family:'museo-sans';color:#888b9b; font-size:13px; font-weight:500;}
	.cart-features h3.taller {margin: 5% auto;}

	#home-feature-section .thirds { width:29%; padding: 2%; float: left; text-align: center;}
	#home-feature-section .thirds p {height: inherit;}
	
	#home-feature-section .halfs { display:inline-block; width:47%; margin-right: 2%; text-align: left; }
	#home-feature-section .half-row{text-align:center; padding: 50px; display: flex; display: -webkit-flex;}
	#home-feature-section .halfs h3{color: #6d7079; font-size: 20px; line-height: 1.25em; font-family: "museo-sans"; font-style: normal; font-weight: 500; text-transform: none; text-align: left; margin: 0; }
	#home-feature-section .halfs p{width: 95%;}
	#home-feature-section .half-row.halfs:first-child {float: left;}
	#home-feature-section .half-row.halfs:last-child {float: right;}
	#home-feature-section .halfs img {vertical-align: middle;}
	
	#retain-intro h1,
	#automate-intro h1,
	#succeed-text h1,
	.automate-show-text h1,
	#home-feature-section > div h1{
		color: #44464b;
		font-size: 220%;
		line-height: 1.3em;
		text-align: center;
		width: 85%; 
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-weight: 300;
		font-style: normal;
		padding-bottom: 1%;
		font-family: "museo-sans";
		text-transform: none;}

	.calculator #checkoutVisitscontainer {width:31%; display: inline-block; margin: 0 1%; margin-bottom: 5%;}
	.calculator div.container {width:31%; display: inline-block; margin: 0 1%; margin-bottom: 5%;}
	.calculator #roitable {float: left; width: 79%;}
	.calculator div.containers {margin: 5% auto;}
	.calculator #normalrange { display: block; width: 19%; float: right; margin-top: 19%;}

	#request {width: 47%;margin: 0 auto;text-align: center;}
	#req_form div img {display: block;}
	#req_form form {margin-left: 18%; font-size: 100%; padding: 1% 0;}

	#clientlogos > div div.logo-images {width: 100%; margin-top: 3%; text-align: center; padding-bottom: 1%; background: white;}
	#clientlogos > div div.logo-images img {float: none;}

}


/* MIN 850 PX
================================ */
@media only screen and (min-width: 850px) {

	.hide-at-850 {display: none;}
	.show-at-850 {display: block;}

	#feat-data-cols .one-half {width:30%; padding: 15px; text-align: center; float: left;}
	#feat-data-cols .one-half:nth-child(2) {width: 31%}
	#feat-data-cols .one-half:last-child {float: right;}
	#home-feature-section .thirds { width:30.5%; padding: 1.1%; float: left; text-align: center;}
	#home-feature-section .thirds:last-child {float: right;}
	#home-feature-section .thirds p {height: 100%;}

	#aboutRejoiner ul.people { width:80%; margin: 0 auto;}


	#contactform {width: 55%; float: left; padding: 1%; display: block;}
	#contacttext {width: 37%; padding: 0%; text-align: left; float: right; display: block;}
	.contactus h5 {font-size: 100%}
	#contacttext p {font-size: 90%;}

	#clientlogos img {width: 9%; max-width: 180px; margin: 0 3.3%;}

	#upcoming {width: 90%;}
	#upcoming .event {text-align: left; width: 45%}
	#upcoming .event h5 {text-align: left;}
	#upcoming .event p {width: 50%; float: left; margin-left: 5%; text-align: left;}
	#upcoming .event a.register {float: right; margin-top: 1%; margin-right: 5%; width: 30%; font-size: 1em; padding: 3% 2%;}

}

/* MIN 1100 PX
================================ */
@media only screen and (min-width: 1100px) {

	.hide-at-1100 {display: none;}
	.show-at-1100 {display: block;}
	.btm-quote-text {width: 80%;}

	#abandon-text {width: 78%;}
	.cart-feat-quote-image {width: 15%; margin-right: 0%;}

}