
/* ==========================================================================
   Media Queries - Mobile first approach - 
   Media queries added for devices larger than 600px below
   ========================================================================== */
/*	

/* Regular Hide and Show
   Codes - Use at Mobile View
================================ */
.hide-mobile {display: none;}
.show-mobile {display: block;}


/* Typography Only
================================ */
@media only screen and (min-width: 767px)   {
a {color: #4c8124; text-decoration: none;}
a:hover {text-decoration: none; color: #3b6a17;}

h1 {
font-size: 2.25em;
font-weight: 300;
letter-spacing: 1px;
text-align: center;
text-transform: uppercase;
color: #464a4f;
font-family: "museo-sans";
}

h2 {
	font-size: 1.85em;
	font-weight: 300; font-style: normal;
	text-transform: capitalize;
	color: #44464b;
	text-align: center;
	font-family: "museo-sans";
}

h3 {
	font-size: 1.5em;
	font-weight: 500;
	text-transform: uppercase;
	color: #609736;
	text-align: center;
	font-family: "museo-sans";
}

h4 {
	font-size: 1.75em;
	font-weight: medium;
	color: #6d7079;
	font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; 
}

h5 {
	font-size: 1.12em;
	font-weight: 600;
	text-transform: uppercase;
	color: #6d7079;	
	font-family: "museo-sans";
}

h6 {
	font-size: .87em;
	font-weight: 700;
	text-transform: uppercase;
	color: #464a4f;
	border-bottom: 1px solid #cae6d5;
	margin: 25px 0 9px; padding: 0 0 7px;
	letter-spacing: 1px;
	font-family: "museo-sans";
}
	
p {font-size: 1.06em; color: #44464b; font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B';}	

#magentobanner p, #homebanner p {font-size: 1.2em;line-height: 1.5em;margin: 0 auto; padding-bottom: 10px;}

}


/* MAX 500 PX
================================ */
@media only screen and (max-width: 500px)   {
	#mobile-demo-request {display: block;}
	.masthead .site-logo img {width: 180%}
	#ticketing-mid-image {margin-top:-4%; overflow: visible;}
	#ticketing-mid-image img {margin-top:-3.5%;}
	div#ticketing-how .ticketing-how-text h5 {margin-bottom: 3%;}
	div#ticketing-how .ticketing-how-text h5.mob-fix {width: 80%; margin: 6% auto 3%; line-height: 1.5em;}
}

/* MAX 549PX - Minimal Footer Call
================================ */
@media only screen and (max-width: 549px)   {
	section #minimal-footer {display: block;}
	div#quote-ticketing > div.quote-ticketing-text p {font-size: .85em;}

}

/* MAX 600 PX
================================ */

@media only screen and (max-width: 600px)   {
	.demo-popup-wrapper {width: 88% !important;max-height: 85% !important;top: 7%;transform: none !important;}
	#clientlogos > div {max-width: 450px; margin: auto;}
	#growthcontent {display: none;}
	div.retail-how-row .one-half h3, div.agency-how-row .one-half h3 {text-align: center; font-weight: 700;}
	div#retail-how .retail-how-text span, div#agency-how .agency-how-text span { width: 95%; font-size: .95em;}
	a#hiring-alert {display: none;}
	#sitemapPage {display: none;}
	div.open-job-description ul.light-dot li {margin-left: -2%;}
	#home-feature-section .halfs img {max-width: 250px;}
}


/* MAX 700 PX
================================ */
@media only screen and (max-width: 700px)   {
	div.one-half {width: 100% !important; text-align: center; float: left;}
	#demo-req-tick img {visibility: hidden;}
	#wistia-video p {font-size: .8em;}
	.btm-quote-text p {font-size: .9em;}
}

/* MIN 550 PX
================================ */
@media only screen and (min-width: 550px)   {
	#stickynav {display: none;}
	#clientlogos h3 {letter-spacing:.5px;font-size: 1.25em; line-height: 1.5em;}
	#clientlogos span.countUp { display: inline-block; max-width: 167px !important; padding-left: 3px; text-align: left; color: #609736; font-family: "museo-sans"; font-size: 1em; font-style: normal; font-weight: 700; -webkit-transition: all 400ms ease; -moz-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease;}
	#clientlogos span.money {color: #609736; font-family: "museo-sans"; font-size: 1em; font-style: normal; font-weight: 700;}
	#clientlogos span.countMoreUp {min-width: 150px !important; color: #346212; transition-duration: .3s; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out;}
	.section-cta a,
	.email-statistic .template_offer a,
	#testimonialsPage .section-cta a {padding: 4% 8%;}
	.cart-aband h3.taller {font-size: 1em; width: 90%;}
	#magentotext p {width: 70%; margin: 5% auto; font-size: 1.1em;}
	#contactform input {padding: 5% 2%;}
	#resource-types {background-size: 100%;}
	#footernav, #graybar section {display: block;}
	#graybar section {float: none; width: 100%; padding: 0 1.5%; margin: 1% auto;}
	#graybar section div:nth-of-type(1) {width: 22%; margin: 0% auto; text-align: left; float: left; margin-bottom: 2%;}
	#graybar section div:nth-of-type(1) a {font-size: 1em;}
	#graybar section div:nth-of-type(2) {width: 65%; margin: 0 auto; text-align: right; float: left; margin-bottom: 2%;}
	#graybar section div:nth-of-type(2) a {font-size: 1em;}
	#graybar section div:nth-of-type(3) {width: 100%; margin-top: 4%; text-align: left; float: none;}
	#graybar section div:nth-of-type(3) a {font-size: 1em;}
	#home-feature-section .halfs img {width: initial;}
	.masthead nav.primary-menu {display: inline-block;}
	label.mobile-label {display: none;}
	.masthead {padding-top: 2.5%; padding-bottom: 2.5%;}
	#footernav section div:first-child {display: none;}
	#footernav section div:last-of-type {width: 40%;}
	#footernav section div {width: 22%}	#footernav section div h6 {width: 100%;}
	#magento-seal {width: 30%;margin: 0 auto;text-align: center;margin-top:-8%;display: block; margin-bottom: -6%;}
	#magentoCTA {margin-top: 18%;}
}


/* MIN 600 PX
================================ */
@media only screen and (min-width: 600px)    {
	.hide-at-600 {display: none;}
	.show-at-600 {display: block;}
	#automate-product-show {background-size: initial;background-position-y: 110%;}
	#clientlogos img {text-align: center; width: 100px; max-width: 180px; margin: 3.3%; vertical-align: middle;}
	#aboutRejoiner ul.people li {width:22%; float: left;}
	.contactus {background: #fff; width: 80%; padding:2%; margin: 0 auto;}
	#contacttext {background: #fff;}
	#next-webinar div a.register {margin: 0 auto; padding: 4% 4%}
	#upcoming {width:80%; margin: 0 auto; margin-bottom: 3%;}
	#upcoming .event {float: left; width: 45%;}
	#upcoming .event:last-child {float: right;}
	#upcoming .event .register {font-size: 1em; width: 80%;}
	.privacy p,	.terms p {font-size: 1em;}
	.terms .term-concerns {text-align: left; font-size: .95em; margin-bottom: 2%;}
	/*#req_form form .col.demo-btn {width: 44%; padding-bottom: 0%; float: right; margin-right: 3%;}
	#req_form form .col.demo-btn a#seehow {width: 98%; margin-top: 8%;}
	#req_form form .col {float: left; width: 44%; height: 100%; margin: 0 auto; padding: 0 3%; margin-bottom: 1%}
	#req_form form .shortcol {float: left; width: 44%; padding: 0 3%;}
	#req_form form .shortcol .left-side {width:45%;float: left;}
	#req_form form .shortcol .right-side {width:45%;float: right;}
	#req_form form .shortcol select#op_time {margin-bottom: 0%;}
	#req_form form input {padding: 7% 3%;}
	#req_form form .shortcol input, #req_form form .shortcol select {padding: 12% 7%}
	#req_form form .shortcol .right-side {overflow: visible;}
	.reqform-fix {margin-top: -6%;}*/
	#clientlogos h3 {font-size: 1.5em;}
	.cart-aband-lgs img {margin:1.5% 1%; width: 20%;}
	#pricing-demo div form input[type="email"], 
	#pricing-demo div form input[type="text"], 
	#pricing-demo div form input[type="url"], 
	#pricing-demo div form input[type="number"], 
	#pricing-demo div form input[type="email"], 
	#pricing-demo div form textarea, 
	#pricing-demo div form select {width: 50%; margin: .75% 0%; padding: 2.5%; float: left;}
	#pricing-demo div form .section-cta {width: 100%; float: left;}
	#pricing-demo div form .section-cta a#submit_demoform {width: 100%; padding: 3%; margin-top: 1%;}
	#start-course {padding:5% 3%;}
	#ebooks div {width: 47%; margin: 0%; float: left;}
	#ebooks div img {width: 50%;}
	.podcasts-left-side, .presentations-left-side, .blog-left-side {width: 35%; float: left; text-align: right;}
	.podcasts-left-side img, .presentations-left-side img, .blog-left-side img {margin-top: 14%;}
	.podcasts-right-side, .presentations-right-side, .blog-right-side {width: 55%; float: right;}
	#retain-show img.mobile-img {width: 80%;}
	div #fof-yoda img {margin-top: -2%; margin-bottom: 5%;}
	div #fof-yoda {background-image: url('../img/404/404-bg.png');background-position: top center; background-repeat: no-repeat;}
	#magento-seal {margin-top:-9%;}
	#product-nav .prod-holder ul li a {font-size: .85em}
	div#job-benefits > div div.thirds {width: 40%; float: left; margin: 2% 3%;}
	a#hiring-alert {display: none;}
	#demo-form-info-pricing p {display: inline-block; float: left;}
	#demo-form-info-pricing img {visibility: visible; margin: 2.5% auto; margin-left: 10%; margin-right: 7%;}
	#pricing-quote > div .quote-image {display: block;}
	#pricing-quote > div .quote-text {width: 80%;font-size:1.4em;}
}


/* MIN 650 PX
================================ */
@media only screen and (min-width: 650px)   {
	#peak-img-large {display: block;}
	#peak-img-small {display: none;}
	#sitemap-column {width: 27%; margin: auto 3.15%; float: left;}
	#sitemap-column {font-size: .9em;}
	#sitemap-column h5 {font-size: 1em;}
	.pricing-demo-text {width: 80%;}
	div.pricing-notes h3 {width:98%; margin: 2% auto;font-size: 1.2em;}
	#resource-types {background-position: top center; margin-bottom:2%;}
	#resources-menu {margin: 0 auto; padding-top: 28%;}
	#resource-types ul {display: inline-block; text-align: center; width: 100%;}
	#resource-types ul li {margin: 0; border-left: 0; border-bottom: 4px solid #578931; padding: .75% 0; font-size: .9em;display: inline-block; margin-right: 1%;min-width: 90px; margin-bottom: 2%;}
	#resource-types ul li:nth-child(3) {width: 135px;}
	#resource-types ul li:first-child{border-bottom: 3px solid #acd373; border-left: 0;}
	#resource-types ul li:nth-child(2){ border-bottom: 3px solid #ffcc00; border-left: 0;}
	#resource-types ul li:nth-child(3){ border-bottom: 3px solid #f37d59; border-left: 0;}
	#resource-types ul li:nth-child(4){ border-bottom: 3px solid #019add; border-left: 0;}
	#resource-types ul li:last-child{ border-bottom: 3px solid #1abc9c; border-left: 0;}
	#resource-types ul li:first-child:hover{border-bottom: 5px solid #acd373; border-left: 0;}
	#resource-types ul li:nth-child(2):hover{ border-bottom: 5px solid #ffcc00; border-left: 0;}
	#resource-types ul li:nth-child(3):hover{ border-bottom: 5px solid #f37d59; border-left: 0;}
	#resource-types ul li:nth-child(4):hover{ border-bottom: 5px solid #019add; border-left: 0;}
	#resource-types ul li:last-child:hover{ border-bottom: 5px solid #1abc9c; border-left: 0;}
	#clientlogos > div div.logo-images img {width:20%;}
	#clientlogos span.countMoreUp {width: 180px !important;}
	div.open-job-title {width: 45%; float: left; text-align: left;}
	div.open-job-title h2 {text-align: left;}
	div.open-job-description ul.light-dot {margin-left: 0%;}
	div.open-job-description {width: 45%; margin: 0 auto; padding-top: 5%; float: right; text-align: left;}
	#demo-form-info-pricing img {margin-left: 2%; margin-right: 3%;}
	h3.consumerRecover {font-size: 1.5em; line-height: 1.75em; width: 80%;}
}

/* MIN 700 PX
================================ */
@media only screen and (min-width: 700px)   {
	a#cta-slant {padding: 3% 3%; margin-top: auto;}
	.hide-at-700 {display: none;}
	.show-at-700 {display: block;}
	#contactform label {width: 30%; margin: 2% 2.75% 0 0; float: left; display: inline-block;}
	#contactform input, #contactform textarea {width: 95%; margin: 3% 0; margin-bottom: 3%; font-size: 90%; border: 2px solid #efefef; margin-bottom: 1%; float: left; padding: 3% 2%;}
	#contactform textarea {margin-bottom: 3%;}
	#contactform .btn {font-size: 100%; margin: 0 auto; padding: 4.5% 5%;}
	#webinar-quote {margin-bottom: 4%;}
	#resources-quote .quote, #webinar-quote .quote {font-size: 1.75em; margin-top:0;}
	#resources-quote p:nth-of-type(2), #webinar-quote p:nth-of-type(2) {font-size: 1em;margin: 0 auto;}
	#next-webinar div {float: left;width: 60%; margin-right: 3%; text-align: left;}
	#next-webinar div:last-child { width: 30%; float: right;margin-top: 7%; margin-bottom: auto;}
	#next-webinar div a.register {margin: 0 auto; font-size: 1em; padding: 6% 2%}
	#magentotext p {width: 70%; margin: 2% auto; font-size: 1.2em;}
	#email-course .signup input[type='text'], #email-course .signup input[type='email'] {padding: 3% !important}
	#start-course {padding: 4% 1%; width: 95%;}
	#ebooks div {width: 45%; margin: 0 1%; float: left;}
	#magento-banner {background-image: url('../img/magento/magento-mark-bg.png'); background-repeat: no-repeat; background-position: center center;}
	#retain-show img.mobile-img {width: 70%;}
	.security-goals p.intro-note {font-size: 1.2em;}


	/* Sticky Nav - New - All Pages
	   Except Homepage + Sitemap
	================================ */

	#stickynav {width: 100%; max-width: 1300px; position: fixed; top: 0px; background-color: #fff; z-index: 9999; display: none; padding-bottom: 1%; padding-top: 1%;}
	.sticky {top: 0 !important;-webkit-animation: all 5s ease-in-out; animation: all 5s ease-in-out;}
	.nav_animate {width: 82.5%; transition: .5s;}
	#logo {left: -150px; font-size: 25px; height: 65px; line-height: 65px; padding: 0 10px; margin: 0; cursor: pointer; position: absolute; z-index: 1000; transition: 1s; line-height: 80px;}
	.primary-menu a.number,
	.primary-menu a.signin {color: #969aa5; text-decoration: none;}
	.primary-menu a.number,
	.primary-menu a.signin:hover {color: #6d7079; text-decoration: none;}
	.primary-menu input::-webkit-input-placeholder {color: #b8b9bc;}
	.primary-menu input::-moz-placeholder {color: #b8b9bc;}
	.primary-menu input:-moz-placeholder {color: #b8b9bc;}
	.primary-menu input:-ms-input-placeholder {color: #b8b9bc;}
	.primary-menu input::-webkit-input-placeholder:focus {color: #5b5e66; font-family: "museo-sans"; font-weight: 500;}
	.primary-menu input::-moz-placeholder:focus {color: #5b5e66; font-family: "museo-sans"; font-weight: 500;}
	.primary-menu input:-moz-placeholder:focus {color: #5b5e66; font-family: "museo-sans"; font-weight: 500;}
	.primary-menu input:-ms-input-placeholder:focus {color: #5b5e66; font-family: "museo-sans"; font-weight: 500;}
	.primary-menu input {margin-top:-2px; padding: 14px 11px !important; background-color: #f3f4f6; font-size: 13px; vertical-align: middle; margin-right: -4px;  border: 1px solid #efefef; }
	.primary-menu input[type="text"] {width:250px; border: 1px solid #efefef; transition-duration: .4s; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; }
	.primary-menu input[type=submit] {width:170px;}
	.primary-menu input[type="text"]:hover {box-shadow: 0 0 5px 1px #fcf1e4; background: white; border: 1px solid #fcd2a4; transition-duration: .3s; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out;}
	.primary-menu input[type="text"]:focus {height: 13px; margin-top:-2px; box-shadow: 0 0 5px 1px #fcf1e4; background: white; color: #666; border: 1px solid #fcd2a4; width: 300px; font-family: "museo-sans"; transition-duration: all .3s; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out;}
	.primary-menu input[type=submit] {font-family: 'museo-sans';font-weight: 700;font-size: 13px;letter-spacing: .25px;text-transform: uppercase;color: #609736;background-color: #fff;padding: 2px 15px;border: 2px solid #609736;line-height: 7px;margin-top: -5px;padding: 10px !important;width: 150px;border-radius: 2px;transition-duration: .4s; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; margin-right: 2%;}
	.primary-menu input[type=submit]:hover,
	.primary-menu input[type=submit]:active{ background-color:#609736; color: #fff;}
	.primary-menu span {color: #6d7079; font-weight: 400 !important; font-style: normal; letter-spacing: 0.35px; margin: 0 10px; text-decoration: none;font-weight: bold;}
	#magentoCTA {margin-top: 10%;}
	#magento-seal {margin-top:-7%;}
	div#ticketing-how .ticketing-how-text span, div#retail-how .retail-how-text span, div#agency-how .agency-how-text span {font-size: 1em;}
	#use-cases-cell {width: 115px; text-align: left;}
	div.ticketing-how-row .one-half h3, div.retail-how-row .one-half h3, div.agency-how-row .one-half h3 {text-align: left;}
}


@media only screen and (min-width: 750px)   {
	#magento-seal {display: none;}
	#magentoCTA {margin-top: 3%;}
}


/* MIN 767 PX
================================ */
@media only screen and (min-width: 767px)   {
	.section-cta a {font-size: 1.25em;}
	.hide-at-767 {display: none;}
	.show-at-767 {display: block;}
	.cart-aband-points {width: 41%;float: left;}
	.cart-aband-points:first-child {margin-left: 4.5%;margin-right: 10%;}
	#wistia-video {width: 60%; margin: 0 auto;}
	.quote-dash img { display: inline; width: 70%; margin: 5% 0% 5% 26%;}
	#automate-product-show {background-position-y: 120%;}
	#automate-text p {width: 65%;}
	/* anchor link helpers */
	#automate {margin-top: 2%; padding-top: 3.5%;}
	#succeed {margin-top: 2%; padding-top: 3.5%;}
	#retain {margin-top: 1%;}
	#optimize {margin-top: 1%; margin-bottom: -1%;}
	.ourstory > div .left {width: 47%; float: left; border: 0;}
	.ourstory > div .right {width: 47%; float: right; border: 0;}
	.ourstory h3 {text-align: left;}
	.ourstory {margin: 0% auto; margin-bottom: 7%;}
	.ourstory > div .left p, .ourstory > div .right p {text-align: left;}
	.email-statistic .wrapper { width: 90%; margin: 0 auto;}
	.email-statistic .template { width: 45%;  height: 100%;  margin: auto;}
	.email-statistic .template:nth-child(1) {float: left; margin-right: 7%;}
	.email-statistic .template_offer { width: 85%;}
	.email-statistic .template .inner { width: 90%; margin: 0 auto; padding-top: 8%; padding-bottom: 8%;}
	.email-statistic .inner div {margin: 0 auto;}
	.customer article { width: 80%;	margin: 0 auto; height: 100%;}
	.customer article .resume {width: 65%; margin-top: 4%; margin-bottom: 6%;}
	.customer .customer-image {float: left; width: 20%; margin-top: 4%; margin-right: 6%; margin-bottom: 6%;}
	.customer article img {display: inline-block;}
	.customer article .resume p, 
	.customer article .resume h2, 
	.customer article .resume h6 {text-align: left;}
	.section-cta h2 { font-size: 130%; line-height: 130%; margin-bottom: 3%;}
	.privacy .privacy-concerns,
	.terms .term-concerns {width: 80%; margin: 0 auto;}
	#btm-quote, #demo-btm-quote {text-align:center; padding: 3%; position: relative;}
	#btm-quote > div, #demo-btm-quote > div {width: 90%; padding:3%; margin: auto; min-height: 170px; height: 100%; display: table;}
	#abandon-text {width: 73%; float: right; padding:3%; margin: auto; min-height: 170px; height: 100%; display: table;}
	.btm-quote-image, .demo-btm-quote-image {float:left; width:150px; text-align:left;}
	.btm-quote-text, .demo-btm-quote-text {width: 72%; text-align:left; float: right;}
	.btm-quote-text p, .demo-btm-quote-text p {font-size:1.25em;line-height:1.5em;}
	.btm-quote-text small, .demo-btm-quote-text small {letter-spacing:.5px;font-family:'museo-sans';color:#888b9b; font-size:13px; font-weight:500;}
	.cart-aband-lgs img {margin:1.5% 1%; width: 15%;}
	.cart-aband h3.taller {font-size: 1.2em;}
	.gray-line-divider {margin: 8% auto 4% auto}
	/* demo popup */
	.demo-popup form input[type="email"], 
	.demo-popup form input[type="text"],
	.demo-popup form input[type="url"], 
	.demo-popup form select {padding: 3.5%; width: 42%; float: left; margin: 0% auto; margin-bottom: 1%}
	.demo-popup form select {padding: 3.5%; width: 49.5%; float: left;}
	.demo-popup-content {padding-bottom: 4%;}
	.demo-popup form .section-cta {width: 99%; margin: 1% 0;}
	#resource-types {background-size: initial; background-position: center right; margin-bottom: 5%;}
	#resources-menu {margin: 0; padding-top: 0%;}
	#resource-types ul {display: block; padding: 1%; width: 20%; min-width: 193px; text-align: left; margin: 0; margin-top: 2%; list-style-type: none; border: 1px solid #efefef;}
	#resource-types ul li {margin: 0; border-left: 4px solid #578931; padding: .75% 0; font-size: .9em;display: inline-block; margin-right: 1%;min-width: 90px;padding: 4%; margin-bottom: 2%;}
	#resource-types ul li:nth-child(3) {width: 135px;}
	#resource-types ul li:first-child{border-left: 4px solid #acd373; border-bottom: 0;}
	#resource-types ul li:nth-child(2){ border-left: 4px solid #ffcc00; border-bottom: 0;}
	#resource-types ul li:nth-child(3){ border-left: 4px solid #f37d59; border-bottom: 0;}
	#resource-types ul li:nth-child(4){ border-left: 4px solid #019add; border-bottom: 0;}
	#resource-types ul li:last-child{ border-left: 4px solid #1abc9c; border-bottom: 0;margin-bottom: 0%;}
	#resource-types ul li:hover{-webkit-transition: all .2s ease .2s;-moz-transition: all .1s ease .1s;-ms-transition: all .1s ease .1s;-o-transition: all .1s ease .1s; width: 100%; }
	#resource-types ul li:first-child:hover{border-left: 10px solid #acd373; border-bottom: 0;}
	#resource-types ul li:nth-child(2):hover{ border-left: 10px solid #ffcc00; border-bottom: 0;}
	#resource-types ul li:nth-child(3):hover{ border-left: 10px solid #f37d59; border-bottom: 0;}
	#resource-types ul li:nth-child(4):hover{ border-left: 10px solid #019add; border-bottom: 0;}
	#resource-types ul li:last-child:hover{ border-left: 10px solid #1abc9c; border-bottom: 0;}
	#email-course .how {width: 45%; float: left; padding-right: 3%; text-align: left;}
	#email-course .signup {width: 45%; float: right; text-align: left; padding: 2% 0 0 5%;}
	#ebooks div {width: 46%; margin: 0 1%; float: left;}
	#presentation, #podcasts, #blogroll {display: block;}
	#resources-mobile-foot {display:none;}
	#retain-show img.mobile-img {display: none;}
	#retain-show img.desktop-img {display: inline-block;}
	#product-show  img.product-mobile {display: none;}
	#product-show  img.product-desktop {display: inline-block;}
	#footernav section div {width: 18%}	#footernav section div h6 {width: 100%;}
	#footernav section div:first-child {display: block;} #footernav section div:last-of-type {width: 23%;}
	#menuPositions {width: 60%; margin: 1% auto; float: left;}
	.prod-holder > ul > li {float: left;}
	#product-nav .prod-holder ul li a {font-size: .9em}
	#logoSlide, #demoSlide {display: block;}
	#logoSlide .show-cta {visibility: visible;}
	#demoSlide .show-cta {visibility: visible;}
	#demoSlide.hide-cta {visibility: hidden;}
	#logoSlide.hide-cta {visibility: hidden;}
	div#mid-header-retail {background-color: #51850b; padding-bottom: 22%; background-image: url("../img/industries/retailers/graph-peak-bg.png"), url("../img/industries/retailers/retailers-lower-header-bg.jpg"); background-position: left bottom, left center; background-size: 100%, cover;}
	#demo-form-info-pricing img {margin-left: 4%;}
	#new-request-demo div.demo-text-top h3 {font-size: 1.75em; line-height: 1.35em;}
	#new-request-demo div.demo-text-bottom h4 {font-size: 1.2em;}
	#new-request-demo div.demo-text-bottom ul {font-size: 1.06em; width: 80%; margin: 0 auto;}
	#new-request-demo div.demo-text-bottom ul li:before {height: 40px; padding-bottom: 4%;}
	#req_form div.form-container {width: 95%; max-width: 600px; padding-top: 5%;}
	#req_form form .col {width: 44%; float: left;}
	#req_form form label.main {display: none;}
	#req_form form #set-date {width: 94%;}
	#req_form form select#op_time {padding: 2.5% 3%;}
	#req_form form label.date {font-size: .95em;}
	#req_form .col.demo-btn a#seehow {margin-top: 2%;}
	#req_form form .col.demo-btn {padding: 0% 3.5% 0% 3.5%;}
}


/* MIN 780 PX
================================ */
@media only screen and (min-width: 780px)   {
	.hide-at-780 {display: none;}
	.show-at-780 {display: block;}
	.cart-feat-quote-image {float:left;width:17%;margin-right:4%;text-align:left;}
	.cart-feat-text {width: 85%;text-align:left;}
	.cart-feat-text h3 {font-size:18px;line-height:1.5em;color:#44464b;font-style: italic;font-weight:300; text-align: left; text-transform: none;}
	.cart-feat-text small {letter-spacing:.5px;font-family:'museo-sans';color:#888b9b; font-size:13px; font-weight:500;}
	.cart-features h3.taller {margin: 5% auto;}
	#home-feature-section .thirds { width:29%; padding: 2%; float: left; text-align: center;}
	#home-feature-section .thirds p {height: inherit;}
	#home-feature-section .halfs { display:inline-block; width:47%; margin-right: 2%; text-align: left; }
	#home-feature-section .half-row{text-align:center; padding: 50px; display: flex; display: -webkit-flex;}
	#home-feature-section .halfs h3{color: #6d7079; font-size: 20px; line-height: 1.25em; font-family: "museo-sans"; font-style: normal; font-weight: 500; text-transform: none; text-align: left; margin: 0; }
	#home-feature-section .halfs p{width: 95%;}
	#home-feature-section .half-row.halfs:first-child {float: left;}
	#home-feature-section .half-row.halfs:last-child {float: right;}
	#home-feature-section .halfs img {vertical-align: middle;}
	#retain-intro h1,
	#automate-intro h1,
	#succeed-text h1,
	.automate-show-text h1,
	#home-feature-section > div h1{color: #44464b; font-size: 220%; line-height: 1.3em; text-align: center; width: 85%; margin-left: auto; margin-right: auto; text-align: center; font-weight: 300; font-style: normal; padding-bottom: 1%; font-family: "museo-sans"; text-transform: none;}
	.calculator #checkoutVisitscontainer {width:31%; display: inline-block; margin: 0 1%; margin-bottom: 5%;}
	.calculator div.container {width:30%; display: inline-block; margin: 0 1%; margin-bottom: 5%;}
	.calculator #roitable {float: left; width: 79%;}
	.calculator div.containers {margin: 5% auto; width: 100%;}
	.calculator #normalrange { display: block; width: 19%; float: right; margin-top: 19%;}
	.calculator #abandonrate, .calculator div input {margin-top: 4%;}
	.calculator div label {margin-top: 0%;}
	#request {width: 47%;margin: 0 auto;text-align: center;}
	#clientlogos > div div.logo-images {width: 100%; margin-top: 3%; text-align: center; padding-bottom: 1%; background: white;}
	#clientlogos > div div.logo-images img {float: none;}
	.cart-aband-lgs img {margin:1.5% 1%; width: 10%;}
	b.mobile-campaign-title, span.mobile-details, div.pricing-notes {display: none;}
	#recoverPlan, #retainPlan, #optimizePlan,
	#recoverPlanBottom, #retainPlanBottom, #optimizePlanBottom {width: 33.25%;}
	#pricingColLast, #pricingCol2, #allPackagesBar.nine.columns {display: inline-block;}
	#allPackagesBar.nine.columns,#bottomNote.nine.columns {width: 100%;}
	#email-course .signup input[type='text'], #email-course .signup input[type='email'] {padding: 5% !important;}
	#start-course {width: 100%; padding: 5.5% 1%;}
	div.automate-show-text p {width: 60%;}
	div#ticketing-quote-text,
	div#retail-quote-text {width: 65%; margin: 0 auto; padding: 3%;}
	div.retailer-logos img, div.ticketing-logos img {display: inline-block; margin: 2% 3%;max-width: 120px;}
	div.retailer-logos img:last-child {margin-top: 2%;}
}


/* MIN 800PX -- 
   PRICING TABLES
   REQUEST A DEMO FORM
================================ */
@media only screen and (min-width: 800px)   {
	#pricingColLast, #pricingCol2,
	{display: block;}
	/*#req_form form input {padding: 5.5% 3%;}
	#req_form form .shortcol input, #req_form form .shortcol select {padding: 11% 7%}*/
	#demo-form-info-pricing img {margin-left: 8%;
}

/* MIN 850 PX
================================ */
@media only screen and (min-width: 850px)   {
	#product-nav .prod-holder ul li a {font-size: 1em}
	.hide-at-850 {display: none;}
	.show-at-850 {display: block;}
	#feat-data-cols .one-half {width:31%; margin-right: 1%; margin-left: 1%; text-align: center; float: left;}
	#feat-data-cols > div {margin-bottom: 4%;}
	.feat-data-text p {width: 80%;}
	.feat-data-text h1 {font-size: 2em;}
	#feat-data-cols .one-half img {margin: 8% auto;}
	#wistia-video-magento {width: 75%;}
	#home-feature-section .thirds { width:30.5%; padding: 1.1%; float: left; text-align: center;}
	#home-feature-section .thirds:last-child {float: right;}
	#home-feature-section .thirds p {height: 100%;}
	#aboutRejoiner ul.people { width:80%; margin: 0 auto;}
	#contactform {width: 60%; float: left; padding: 1%; display: block;}
	#contacttext {width: 37%; padding: 0%; text-align: left; float: right; display: block;}
	.contactus h5 {font-size: 100%}
	#contacttext p {font-size: 90%;}
	#contactform input, #contactform textarea {width: 80%; padding: 4% 2%;}
	#contactform .btn {padding: 3.5% 5%; width: 75%; float: left;}
	#contacttext p{text-align: left;}
	#contactform label {margin: 1% 2.75% 0 0;}
	.contactus .progress-bar {width: 75%; float: left; margin: 0 0 0 0; display: none;}
	#contactform .tick {display: block; float: right; clear: both; margin: -10% 2%; text-align: right; width: 25%; display: none;}
	#contactform .tick > img {padding:0px 0px 0px 0px;}
	#clientlogos img {width: 9%; max-width: 180px; margin: 0 3.3%;}
	#upcoming {width: 90%;}
	#upcoming .event {text-align: left; width: 45%}
	#upcoming .event h5 {text-align: left;}
	#upcoming .event p {width: 50%; float: left; margin-left: 5%; text-align: left;}
	#upcoming .event a.register {float: right; margin-top: 1%; margin-right: 5%; width: 30%; font-size: 1em; padding: 3% 2%;}
	.section-cta a,
	.email-statistic .template_offer a,
	#testimonialsPage .section-cta a {padding: 3% 6%;}
	.composite-chart .rate {width: 45%; float: left;}
	.composite-chart .chart {width: 45%; float:right;} 
	.composite-chart .chart div.composite-chart {width: 100%; height: 100%;}
	.composite-chart .current-rate .percent {font-size: 3em;}
	section.industry {margin-bottom: 2%; margin-top: 1%;}
	section.info {width: 85%; margin-top: 2%;}
	section.info div {width: 45%;}
	section.info div h3 {font-size: 1.25em;}
	section.info div p {text-align: left; font-size: .85em;}
	section.info div.statistics {float: left;}
	section.info div.license {float: right;}
	#clientlogos > div div.logo-images img {width:15%;}
	div.automate-show-text p {width: 80%;}
	#product-intro h1 {font-size: 1.5em;}
	#graybar section {float: none; width: 100%; margin: 1% auto;}
	#graybar section div:nth-of-type(1) {float: left; text-align: left; padding-right: 0; padding-left: 2%; width: 17%; margin-bottom: 0%}
	#graybar section div:nth-of-type(2) {float: left; text-align: left; width: 37%; margin: 0 auto; margin-bottom: 0%;}
	#graybar section div:nth-of-type(3) {float: right; text-align: right; width: 32%; margin: 0 auto;padding-right: 4%;}
	#footernav section div {width: 16%}	#footernav section div h6 {width: 100%;}
	#footernav section div:last-of-type {width: 32%;}
	.masthead {padding-top: 1.5%; padding-bottom: 1.5%;}
	div#job-benefits > div div.thirds {width: 28.9%; float: left; margin: 2% 2%;}
	div.header-agency .skew-agency:before {background-size: 100%; background-position: bottom center;}
	a#cta-slant {padding: 2% 3%;}
	.btm-quote-text, .demo-btm-quote-text {width: 78%;}
	#new-request-demo div.demo-text-top {padding: 5%;}
	#new-request-demo div.demo-text-top h3 {width: 50%; text-align: left; margin: 0; margin-left: 1%;}
	#new-request-demo div.demo-text-bottom {text-align: left;}
	#new-request-demo div.demo-text-bottom h4 {font-size: 1.2em; margin-left: 5%; margin-top: 5%;}
	#new-request-demo div.demo-text-bottom ul {font-size: 1.06em; width: 50%; margin-left: 1%;}
	#new-request-demo div.demo-text-bottom ul li {margin-bottom: 4%;}
	#new-request-demo div.demo-text-bottom ul li:before {height: 71px; padding-bottom: 0%;}
	#new-request-demo div.demo-text-bottom ul li:nth-child(3)::before {height:90px;}
	#req_form div.form-container {max-width: 400px; padding-top: 2%;}
	#req_form form .col {width: 90%; float: none;}
	#req_form form label.main {display: inline-block;}
	#req_form form #set-date {width: 90%;}
	#req_form form select#op_time {padding: 2.5% 3%;}
	#req_form form label.date {font-size: .95em;}
	#req_form .col.demo-btn a#seehow {margin-top: 2%;}
	#req_form form .col.demo-btn {padding: 5% 2%; margin-top: -6%;}
	#req_form form label.date {font-size: .85em; padding-bottom: 6%; padding-top: 4%;}
	#req_form form select#op_time {padding: 5% 2.5%;}
	#req_form {width: 40%; margin: 0; z-index: 1; top: 130px; right: 2.25%; position: absolute; background-color: transparent;}
}

/* MIN 900 PX -- PRICING
================================ */
@media only screen and (min-width: 900px)   {
	#recoverPlan, #retainPlan, #optimizePlan, #neue-pricing .pricing-col,
	#recoverPlanBottom, #retainPlanBottom, #optimizePlanBottom {width: 25%; float: left;}
	#neue-pricing .far-left-labels,
	#neue-pricing .features-label,
	#allPackagesBar.nine.columns,
	#pricingColLast, #pricingCol2,
	#spacerBar {display: block;}
	#allPackagesBar.nine.columns {width:75%}
	#bottomNote.nine.columns {width: 75%;}
	#hits input[type=submit], #hits input{padding: 4%;}
	#hits input[type=submit] {width: 94%;}
	div.automate-show-text h1 {width:64%;}
	#graybar section div:nth-of-type(2) {width: 33%}
	#graybar section div:nth-of-type(3) {width: 36%;}
	#rf a.site-logo {width: 200px; background-size: 182px;}
	#demo-form-info-pricing img {margin-left: 12%;
}

/* MIN 950 PX
================================ */
@media only screen and (min-width: 950px)   {
	.industry ul {height: 100%; padding: 0%;}
	.industry li.ind {width: 29.5%; margin-right:4%; text-align: left;}
	.industry li.graph {width: 40%;}
	.industry li.graph > div {width: 100%; margin: auto;}
	.industry li.percent {width: 20%; margin-left: 4%; text-align: right;}
	#neue-pricing .campaigns-label{margin-top: 35%;}
	.packages-label h2 {margin-top: 11%;}
	.features-label h2 {padding-top: 3.5%;}
	.features-label h2, .campaigns-label h2, .packages-label h2 {font-size: 1em;}
	#neue-pricing .pricing-col p {font-size: .83em;}
	#bottomNote p {font-size: .85em;}
	#allPackagesBar p {font-size: .81em;}
	#contactform label {margin: 2% .25% 0 0; display: block;width: 22%;height: 47px;clear: both;}
	#contactform input, #contactform textarea {width: 60%;padding: 3% 2%;float: right;margin: .5%;display: block; margin-right: 10%;}
	#contactform .btn {width: 54.5%; float: right; margin-top: 2%; margin-right: 10%;}
	.contactus .progress-bar {width: 64.5%; float: right; margin: 0 0 0 0; margin-right: 10%; display: none;}
	#contactform .tick {display: block; float: right; clear: both; margin: -8%; margin-right: 0%; text-align: right; width: 25%; display: none;}
	#contactform .tick > img {padding:0px 0px 0px 0px;}
	/*#email-course .signup input[type='text'], #email-course .signup input[type='email'] {padding: 4% !important;}
	#start-course {width: 97%; padding: 4.5% 1%;}*/
	#ebooks div {width: 30%; margin: 0; margin-left: 1%; margin-right: 1%; margin-bottom: 1%;}
	#ebooks div img {width: 75%;}
	#ebooks div h3 {margin-top: 5%;}
	#clientlogos > div div.logo-images img {width:14%; margin: 0 1%; margin-bottom: 5%;}
	#demo-form-info-pricing p {}
	#demo-form-info-pricing img {margin-top: 1.7%; margin-left: 20%; margin-right: 4%;}
	.btm-quote-text {width: 80%;}
	.demo-btm-quote-text {width: 85%;}
	#new-request-demo div.demo-text-bottom h4 {margin-top: 3%;}
	#req_form {right: .025%;}
}


@media only screen and (min-width: 980px)   {
	#magento-seal {display: block; margin-top: -5%; margin-bottom: -4%;}
	#magentoCTA {margin-top: 10%;}

}

/* MIN 1000 PX
================================ */
@media only screen and (min-width: 1000px) {
	
}


/* MIN 1100 PX
================================ */
@media only screen and (min-width: 1100px)   {
	.hide-at-1100 {display: none;}
	.show-at-1100 {display: block;}
	.btm-quote-text {width: 80%;}
	#abandon-text {width: 78%;}
	.cart-feat-quote-image {width: 15%; margin-right: 0%;}
	.section-cta a,
	.email-statistic .template_offer a,
	#testimonialsPage .section-cta a {padding: 2% 4%;}
	.quote-dash img {margin: 5% 0% 5% 10%;}
	#neue-pricing .campaigns-label{margin-top: 31%;}
	#resource-types {width: 80%;}
	#email-course > div {width: 80%;}
	#email-course .signup input[type='text'], #email-course .signup input[type='email'] {padding: 3.85% !important; }
	#start-course {width: 97%; padding: 5%;}
	#ebooks div {width: 29%; margin: 0 2%; float: left;}
	#hits input[type=submit] {padding: 5.7%;}
	#hits input{padding: 5%;}
	.form-input {width: 55%; float: left;}
	.form-cta {width: 45%; float: left; margin-left: -2%; display: inline;}
	#retain-text p {width: 75%;}
	#retain-text h1, #product-intro h1 {width: 80%;}
	#clientlogos > div div.logo-images img {width: 10%; margin-top: 0%; margin-bottom: 3%;}
	.flow-right {float: right; margin-right: 18%;}
	.flow-right-short {float:right;}
	#securityPage div.security-goals {width: 70%;}
	div.open-job-title {width: 40%;}
	div.open-job-description {width: 55%;}
	a#hiring-alert {display: block; float: left; margin-top: 2%; margin-left: 19%;}
	nav.rj-mobile-menu {width: 70%; margin-right: 2%;}
	#demo-form-info-pricing p {}
	#demo-form-info-pricing img {margin-top: 1.35%; margin-left: 22%; margin-right: 4%;}

}

@media only screen and (min-width: 1200px)   {
	a#hiring-alert {margin-top: 2.03%; margin-left: 18.1%;}
}
