/* Responsive Menu New
================================ */
#top-bar {width: 100%; top:0; height: 60px; padding: 1%; background: white; border-bottom: 2px solid #e6e9ec;}
#rf {top: 0; left: 0; padding-bottom: 1%; position: static;
-webkit-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.2);
-ms-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.2);
-o-box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.2);
box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.2);
}
#rf .site-logo {color: #efefef; float: left; display: block; height: 60px; width: 200px; background-image: url('http://www.rejoiner.com/img/generic/green-shadow-logo.png'); background-repeat: no-repeat; background-position: center left; margin-left: 3%;}
#rf .site-logo:hover {background-color: transparent;}
#rf a#nav-toggle {float: right; margin-right: 3%; height: 40px; margin-top: 1%; background: white; color: #ccc; padding: 2% 4%; border-left: 1px solid #efefef;}
#rf a#nav-toggle:hover {color: red;}

nav.rj-mobile-menu a {display: block; padding: 21px 30px; color: #fff; text-decoration: none; text-align: center;}
nav.rj-mobile-menu a:hover {background-color: #bfe79e; text-align: center;}
#rj-mobile {position: absolute; display: none; top: 70px; right: 0; width: 100%; list-style-type: none; background-color: #fff; border: 0;border-radius: 0;border-top: 1px solid #dadada;}
#rj-mobile li {display: block;}
#rj-mobile li a {color: #424548;text-align: center}
#rj-mobile .submenu i {float: right; display: block; margin: 0 0 0; width: 0; height: 0; border: 5px solid transparent; border-top: 7px solid #609736;}
#rj-mobile .submenu ul {position: relative; top: 0; display: none; width: 100%; background-color: #efefef; border: none; text-align: center; border-radius: 0;}
.open ul#rj-mobile {display: block;}
.active ul#rj-mobile {display: block;z-index: 1;}

nav.rj-mobile-menu {float: right; text-align: center; text-transform: uppercase; letter-spacing: 1px; font-size: .85em;border-radius: 0;}
nav.rj-mobile-menu ul a.mob-hide {display: none;}
nav.rj-mobile-menu ul a.mob-show {display: block;}
nav.rj-mobile-menu ul a#signin {display: none;}
nav.rj-mobile-menu ul a#demo-request {background: #609736; color: #fff;}
nav.rj-mobile-menu ul a#demo-request:hover {background: #424655; color: #fff;}

#rj-mobile .submenu ul {display: none;}
#rj-mobile .submenu:hover > ul {display: block;}

#hiring-alert {display: -webkit-inline-box; margin: 4% -1% 0%; color: rgba(150, 154, 165, 0.7); font-size: .7em; text-transform: none; font-style: italic;font-family: 'Ideal Sans SSm A', 'Ideal Sans SSm B'; font-weight: 600;}


/* Media Styles - 
   Responsive Menu Only
================================ */

@media screen and (min-width: 650px) {
    nav.rj-mobile-menu {background: white;}
    nav.rj-mobile-menu a {display: block;padding: 22px 14px;}
    #top-bar {border-bottom: 0; position: static; overflow: visible;}
    #rf {border-bottom: 2px solid #efefef; height: 60px; position: static;}
    #nav-toggle {display: none;}

    #rj-mobile {position: relative; float: right; display: block; text-align: right; top: 0; width: 100%; height: 60px; list-style-type: none; border: none; background: #fff;}

    #rj-mobile {margin-right: 2%;}
    #rj-mobile .submenu ul {width: 250px; position: absolute; display: none; top: 55px; height: auto; background: #fff; border-bottom: 7px solid #609736;border-radius:0px; z-index: 99999;}
    #rj-mobile .submenu:hover > ul {display: block;}
    #rj-mobile .submenu i {float: right; display: inline-block; margin-left: 10px; margin-top: 2px; margin-right: none; border-top: 7px solid #dadada;}

    #rj-mobile li {background-color: transparent; display: inline-block; text-align: left;}
    #rj-mobile li a:hover {background: #fff;color: #609736;}
    #rj-mobile .submenu ul li a {text-align: left; display: block;width: 222px; float: left;}
    #rj-mobile .submenu ul li a:hover {background: #609736; color: #fff;}
    #rj-mobile .submenu ul li:first-child {margin-top: 18px;}
    #rj-mobile .submenu ul li:last-child a {margin-bottom: -2%;}

    #rf a.site-logo {content: ''; z-index:9999; width: 20%; position: absolute; margin-left: 2%; display: block; background-size: contain;}
    nav.rj-mobile-menu {position: relative; width: 77%;float: right; overflow: visible; margin-right: 1%;}
    nav.rj-mobile-menu a#nav-logo {float: left; width: 10%;color: #609736;}

    nav.rj-mobile-menu ul a#signin {display: inline-block; border: 2px solid #dadada; color: #969aa5; border-radius: 2px; padding: 10px;}
    nav.rj-mobile-menu ul a.mob-hide {display: inline-block;}
    nav.rj-mobile-menu ul a.mob-show {display: none;}
    nav.rj-mobile-menu ul a#signin:hover {background: #969aa5; color: #fff;border: 2px solid #969aa5;}
    nav.rj-mobile-menu ul a#demo-request:hover {background: #609736;color: #fff;}
    nav.rj-mobile-menu ul a#demo-request {border: 2px solid #609736; background: #fff;  margin-right: 8px; padding: 10px; font-weight: 700; letter-spacing: .25px;}
    nav.rj-mobile-menu ul a#demo-request {color: #609736; border-radius: 2px;}

    /* ANIMATIONS
    ================================ */

        .flashit{
            -webkit-animation: flash linear 1s infinite;
            animation: flash linear 1s infinite;
        }
        @-webkit-keyframes flash {
            0% { opacity: 1; } 
            50% { opacity: .1; } 
            100% { opacity: 1; }
        }
        @keyframes flash {
            0% { opacity: 1; } 
            50% { opacity: .1; } 
            100% { opacity: 1; }
        }
        /* Pulse class and keyframe animation */
        .pulseit{
            -webkit-animation: pulse linear .5s infinite;
            animation: pulse linear .5s infinite;
        }
        @-webkit-keyframes pulse {
            0% { width:200px; } 
            50% { width:240px; } 
            100% { width:200px; }
        }
        @keyframes pulse {
            0% { width:200px; } 
            50% { width:240px; } 
            100% { width:200px; }
        }  
   
}

/* Media Styles - 
   Responsive Menu Only
================================ */

@media only screen and (max-width: 550px) {
  #rf {z-index: 9998;}
  #rj-mobile .submenu ul {display: none;}
}

@media only screen and (min-width: 550px) {
  #rf {display: initial; overflow: visible;}
}

/* BUTTONS
================================ */
@media only screen and (max-width: 950px) {
    nav.rj-mobile-menu ul a.phone {display: none;}
}

@media only screen and (max-width: 850px) {
    nav.rj-mobile-menu ul a#signin {display: none;}
}

