
#special-header {
    width: 100%;
    max-width: 1300px;
    height: 60px;
}

#special-header .top-bar {
    width: 90%;
    margin: 2% auto;
}

#special-header .top-bar .left-side {
    width: 180px;
    float: left;
    text-align: left;
}

#special-header .top-bar .left-side > a {
    content: '';
    background-image: url('../img/special-pages/general/white-logo.png');
    width: 156px;
    height: 30px;
    display: block;
}

#special-header .top-bar .right-side {
    color: #ffffff;
    text-transform: uppercase;
    font-size: .8em;
    text-align: right;
}

.right-side .down-book{
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: -.25px;
    padding-bottom: 2px;
}

a.down-book:hover {
    border-bottom: 1px solid #f37d59;
    -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease;
}

#special-header .top-bar .right-side .share {
    display: inline-block;
    border-left: 1px solid #ffffff;
    border-left: 1px solid <?php echo $highColor; ?>;
    margin-left: 25px;
    padding-left: 25px;
}

.share span {margin-right: 10px;}
.share a {color: #ffffff; color: <?php echo $highColor; ?>; margin: 0 5px;}
.share .facebook {
    content: '';
    width: 15px;
    padding: 3px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/special-pages/general/FB.png');
}

.share .twitter {
    content: '';
    width: 15px;
    padding: 3px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/special-pages/general/TW.png');
}

.share .social {
    content: '';
    width: 15px;
    padding: 3px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/special-pages/general/SC.png');
    -webkit-background-size: 16px;
    -moz-background-size: 16px;
    background-size: 16px;
    position: relative;
}

.share .linkedin {
    content: '';
    width: 15px;
    padding: 3px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/special-pages/general/icon-linkedin.png');
    -webkit-background-size: 16px;
    -moz-background-size: 16px;
    background-size: 16px;
    position: relative;
}

#special-page-section {
    margin: -60px auto 0%;
}
#special-page-section .banner {
    background-repeat: no-repeat;
    background-size: 1300 509;
    background-position: top center;
    padding-top: 90px;
    background: #dadada;
}

#special-page-section .liftopia-mountains {
    background-color: #0d4179;
    background-image: url('../img/special-pages/liftopia/mountains.jpg');
    background-repeat: no-repeat;
}

#special-page-section .dataGuide-bg {
    background-color: #332959;
    background-image: url('../img/special-pages/cartguide/main-hd.jpg');
    background-repeat: no-repeat;
}
#special-page-section .banner.dataGuide-bg > div.headline {
    margin-bottom: 4%;
}

#ribbon-header {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: -15px;
}

#special-page-section span.ribbon {
    display: inline-block;
    max-width: 330px;
    padding: 8px;
    text-align: center;
    margin: 0 auto;
    background-color: #333333;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'museo-sans', Helvetica, Arial, sans-serif;
}
#special-page-section span.left-ribbon {
    content: '';
    display: inline-block;
    position: relative;
    top: 14px;
    margin-right: -4px;
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 38px solid #333;
    border-left: 24px solid transparent;
    border-right: 0 solid transparent;
}
#special-page-section span.right-ribbon {
    content: '';
    display: inline-block;
    position: relative;
    top: 14px;
    margin-left: -4px;
    line-height: 0;
    font-size: 0;
    width: 0;
    height: 0;
    border-bottom: 0px solid transparent;
    border-top: 38px solid #333;
    border-right: 24px solid transparent;
    border-left: 0 solid transparent;
}


#special-page-section span.left-ribbon.green-left {
    border-bottom: 38px solid #5BB02D;
}
#special-page-section span.right-ribbon.green-right {
    border-top: 38px solid #5BB02D;
}

#special-page-section span.ribbon.ribbon-green {
    background-color: #5bb02d;
}


#special-page-section .banner .headline {
    width: 90%;
    max-width: 800px;
    margin: 1% auto 2%;
}

#special-page-section .banner .headline h1 {
    text-transform: none;
    color: #ffffff;
    font-size: 2.8em;
    line-height: 1.25em;
}

#special-page-section .triangle-up {
    width: 100%;
    margin: 0 auto;
}

.skybg {
    background-color: #E5EEF6;
}

#special-page-section p {
    font-size: 16px;
    line-height: 1.75em;
}

#special-page-section .intro {
    width: 100%;
    padding-bottom: 3%;
}
#special-page-section .intro > div {
    width: 90%;
    margin: -2% auto 0;
    max-width: 900px;
    text-align: center;
}

#special-page-section .intro h5 {
    color: #175f9c;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 900;
}

#special-page-section .clearfix {
    padding: 80px 0 0 0;
}

#special-page-section .intro > div.left-align-txt {text-align: left;}
div.left-align-txt h5 {text-align: center;}
.guide-pulltxt {color:#6d7079; font-size:24px; font-weight: 700;}
.guide-pulltxt.breather { display: inline-block; margin-top: 20px; margin-bottom: 20px;}
.guide-pulltxt a {color:#6d7079; text-decoration:none;border-bottom: 2px solid #6d7079;-webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease;}
.guide-pulltxt a:hover {color:#969aa5;border-bottom: 2px solid #969aa5;}
strong.medium-bold {font-weight:600;}

#special-page-section h2+p {color: #44464b}
.pasty-nav{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 55px;
    max-height:65px;
    padding: .15% 0 1%;
    background: white;
    -webkit-box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.75);
    border-top: 2px solid rgba(188, 190, 191, 0.35);
}

.pasty-nav .content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
}

.pasty-nav .content nav ul {
    border-radius: 0;
    list-style: none;
    position: relative;
    margin: 1.25% auto;
}

.pasty-nav .content nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

.pasty-nav .content li:hover {
    background-color: rgba(237, 169, 96, 0.13);
}

.pasty-nav .content a {
    color: #44464b;
    display: inline;
    vertical-align: middle;
    padding: 0;
    margin: auto;
    line-height: normal;
    -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease;
}

.pasty-nav .content a.start {
    color: #f1744e;
    text-transform: uppercase;
    font-weight: 700;
    margin: 10px;
    display: none;
}

.pasty-nav .content a.start:hover {
    background: #ffffff;
}

.pasty-nav .content i {
    content: '';
    background-image: url('../img/special-pages/general/r-mark-orange.png');
    display: inline-block;
    width: 19px;
    height: 19px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
}

.pasty-nav .content li.logo-r > a {
    border: 0;
    border-right: 1px solid rgba(237, 128, 96, 0.33);;
padding-right: 10px;}
.pasty-nav .content li.logo-r:hover {
    background-color: transparent;
}

.pasty-nav .content .download-guide-cta {
    border: 1px solid #E86725;
    margin-left: 3%;
    -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease;
}

.pasty-nav .content li.download-guide-cta:hover {
    border-color: #E65E0D;
    background: #E65E0D;
}

.pasty-nav .content .download-guide-cta > span {
    text-transform: uppercase;
    color: #E86725;
    font-weight: 700;
}
.pasty-nav .content li.download-guide-cta:hover,
.pasty-nav .content li.download-guide-cta:hover > span{
    color: #ffffff;
}

.pasty-nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.text-content {
    width: 100%;
    margin: 0 auto;
}
.text-content > div {
    width: 90%;
    max-width: 800px;
    padding-top: 7%;
    padding-bottom: 7%;
    margin: 0 auto;
    text-align: center;
}

.text-content h5 {
    color: #969aa5;
    font-size: 12px;
    letter-spacing: 3px;
}

#special-page-section h5.dark-purple {color: #332959;}

.text-content h2 {
    font-size: 2.25em;
    max-width: 620px;
    margin: 0 auto 4%;
}
.text-content h2.larger {max-width: 800px;}
.text-content span.quote {
    color: #999999;
    font-size: 1.5em;
    width: 80%;
    text-align: center;
    display: block;
    margin: 5% auto 7%;
    font-family: 'Ideal Sans SSm A','Ideal Sans SSm B';
}
span.quote.blue {color: #0389c4;}
.light-blue {color: #64a6df;}

.text-content span.caption, span.caption {
    color: #999999;
    font-size: 11.5px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    margin: 3% auto;}

span.caption a, span.caption a:hover {
    color: #999999;
    text-decoration: underline;
}

.text-content p strong {font-weight: 600;}

.text-content strong.list-intro {
    display: inline-block;
    margin: 3% auto 0;}

.text-content strong.highlight {
    color: #ffffff;
    display: inline-block;
    margin: 7% auto 2%;
    background: #999999;
    border: 10px solid #999;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;}

.text-content strong.highlight:first-of-type {margin-top: 3%;}

strong.highlight.cyanbg {background: #64a6df; border-color: #64a6df;}

.text-content .end-quote {width: 100%; margin-top: 7%;}
.text-content .end-quote i {
    color: #6d7079;
    font-size: 1.3em;
    line-height: 1.75em;
    font-family: 'Ideal Sans SSm A','Ideal Sans SSm B';}

#special-page-section .text-content .end-quote p {
    color: #6d7079;
    font-family: 'museo-sans', helvetica, sans-serif;
    font-size: 14px;
    margin-top: 4%;
    opacity: 0.7;
    text-transform: uppercase;}

.last-call {
    width: 100%;
    background: #666666;
    padding: 3%;
    padding-top: 6%;
    padding-bottom: 6%;
    color: #ffffff;}

.last-call .mid-blue {
    background: #175c98;
    background-image: url('../img/special-pages/general/blue-diagonal-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

.last-call {
    width: 100%;
    padding: 3%;
    padding-bottom: 4%;
    margin: 0 auto;}

.last-call.darkpurple {
    background: #272841;
    background-image: url('../img/special-pages/general/lastcall-bg-dark.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}

.last-call > div {width: 90%;margin: 0 auto;max-width: 900px;}
.last-call .lft-frm {width: 65%; float: left;text-align: left;}
.last-call h3 {color: white; text-align: left;font-size: 2em;margin-bottom: -2%;font-weight: 300;text-transform: none;max-width: 500px; line-height: 1.25em; margin-bottom: 0;}
#special-page-section .last-call > div p {color: #ffffff; font-size: 1.25em; line-height: 1.5em; font-style: italic;}
.last-call .right-image {width: 30%; float: right; margin-top: 2%;}


#special-page-section  p.tny-subheadline {color: white; font-size: .9em; font-family: 'museo-sans', helvetica, sans-serif;}

.special-footer-links {
    width: 100%;
    background: #191821;
    height: 80px;
    margin-top: -.10%;
    margin-bottom: 3%;}

.special-footer-links > div {
    width: 100%;
    text-align: center;
    margin: 2.15% auto;}

.special-footer-links span {
    color: #82ca4b;
    letter-spacing: 2px;}

.special-footer-links a {
    color: #ffffff;
    margin: 0 10px;
    -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease;}

.special-footer-links a:hover {
    color: #82ca4b;
    }

.special-footer-links a strong {font-weight: 700;}

/* Scrollto (JS)
   Active link when pasty nav
   is on section id
================================ */

.active {
    color: #E86725 !important;
    -webkit-transition: all 200ms ease; -moz-transition: all 200ms ease; -o-transition: all 200ms ease; transition: all 200ms ease;}

/* Email Creative - Holders
================================ */

div.creative-01, div.creative-02 {
    vertical-align: top;
    margin: 2% 20px;
    width: 330px;
    min-height:300px;
    display: inline-block;
    text-align: center;}

/* Liftopia Creative - Images
================================ */

.liftopia-temp01 {
    background-image: url('../img/special-pages/liftopia/liftopia-email01.jpg');
    height: 449px;
    background-position: center;
    background-repeat: no-repeat;}

.liftopia-temp02 {
    background-image: url('../img/special-pages/liftopia/liftopia-email02.jpg');
    height: 514px;
    background-position: center;
    background-repeat: no-repeat;}

/* Social Share Icons -
   Purple section before footer
================================ */

.share-end-call ul {
    list-style-type: none;
    list-style: none;
    margin-left: -40px;}
.share-end-call ul li {
    display: inline-block;
    margin: 0 5px;}
.share-end-call a {
    padding: 13px 22px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    -webkit-transition: all 300ms ease; -moz-transition: all 300ms ease; -o-transition: all 300ms ease; transition: all 300ms ease;}

/* Phone holders
================================ */

.share-end-call .fbBlue:hover {
    color: #3b5998;
    border-color: #3b5998;}
.share-end-call .twBlue:hover {
    color: #00a0d1;
    border-color: #00a0d1;}
.share-end-call .gplusRed:hover {
    color: #db4a39;
    border-color: #db4a39;}
.share-end-call .linkedBlue:hover {
    color: #122F6D;
    border-color: #122F6D;}

/* Background images for social
   buttons at the end of the page
================================ */

.icon-facebook {
    content:"";
    background-image: url('../img/special-pages/general/icon-facebook.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 8px 14px;}

.icon-twitter {
    content:"";
    background-image: url('../img/special-pages/general/icon-twitter.png');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px 14px;
    background-position-x: 15px;}

.icon-googleplus {
    content:"";
    background-image: url('../img/special-pages/general/icon-googleplus.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px 14px;}

.icon-linkedin {
    content:"";
    background-image: url('../img/special-pages/general/icon-linkedin.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 14px 14px;}

/* Twitter Icon - Rectangle
================================ */

a.tweet-rectangle {
    padding-left: 45px;
    color: #ffffff;
    border-radius: 0%;}

    .share-end-call .tweet-rectangle:hover {
        color: #ffffff;
        background-color: #00a0d1;
        border-color: #ffffff;}

/* CSS iPhones
================================ */

.phone-container {
  max-width: 350px;
  margin: 0 auto;}

.iphone {
  height: 565px;
  background: white;
  border: 5px solid #ccc;
  border-radius: 30px;
  width: 250px;
  margin: 0 auto;}

.camera {
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 20px;}

.buraco {
  background: black;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  margin-top: 20px;
  float: left;
  margin-left: 80px;}

.traco {
  background: black;
  height: 5px;
  width: 50px;
  border-radius: 10px;
  float: left;
  margin: 20px 0 0 15px;}

.screen {
  background: #999;
  width: 93%;
  height: 410px;
  border: 3px solid #efefef;
  float: left;
  background-size: cover;
  margin: 20px 0 0 6px;
  overflow: scroll;}

.phonebtn {
  float: left;
  border: 3px solid #ccc;
  width: 40px;
  margin: 20px 0 0 100px;
  height: 40px;
  border-radius: 50px;}

.phonebtn2 {
  border: 2px solid #777;
  height: 10px;
  width: 10px;
  margin: 13px;
  border-radius: 4px;}

/* Phone holders
================================ */
#phones-creative {width: 100%; max-width: 750px; margin: 4% auto 0;}
#phoneleft, #phoneright {margin: 0 auto; padding: 2%; width: 280px;}

/* Active Campaign Form Styles
================================ */

.ac-form ._form {
  background:transparent;
  width:100%;
  padding:0!important;
  text-align:left;
  }
.ac-form ._form ._field ._label {
  display:block;
  margin:0 0 0.5em;
  padding:0!important;
  font-size:15px;
  color:#fff;
  font-family: 'museo-sans', helvetica, sans-serif;
  }
.ac-form ._form ._field  {
  max-width: 350px;
  margin: 0 auto;
  font-style:normal;
  padding:0;
  overflow:hidden;
  font-family: 'museo-sans', helvetica, sans-serif;
  }
.ac-form ._form ._field ._option input[type="submit"],
.ac-form ._form ._field ._option input[type="button"] {
    margin: 0 auto;
    cursor: pointer;
    padding: 15px;
    line-height: 2.25em;
    width: 100%;
    min-width: 150px;
    font-size: 15px;
    background-color: #ed691a;
    font-family: 'museo-sans', helvetica, sans-serif;
    border: 1px solid #ed691a;
    color: white;
    text-transform: uppercase;
  }
.ac-form ._form ._field input[type="email"] {
  width:100%;
  height: 60px;
  font-size:20px;
  padding-left: 10px;
  line-height: 2.25em;
  background: #ffffff;
  font-family: 'museo-sans', helvetica, sans-serif;
  border-color: #ED691A;
  -webkit-appearance: none;
  box-shadow: none;
  border-radius: 0px;
  border: 2px solid #efefef;
  transition: border 0.3s;
  }
.ac-form ._form ._field input[type=email]:focus {
  outline: none;
  border-color: #82ca4b;
}
.ac-form ._form ._field ._label {
  margin:0 0 4px;
  color:#2c2c2c;
  font-size:13px;
  font-family:helvetica,arial,sans-serif;
  font-weight:700;
  }
 .ac-form .slim-form {
    /*  width: 280px; */
      float: left;
  }


  .cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.50);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 20000;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
  }


  .cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  .cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 4em auto;
    background: transparent;
    background-color: #ffffff;
    border: 4px solid #ED691A;
    text-align: center;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    z-index: 20001;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(154, 154, 154, 0.25); -moz-box-shadow: 0px 0px 10px 1px rgba(154, 154, 154, 0.25); box-shadow: 0px 0px 10px 1px rgba(154, 154, 154, 0.25);
  }
  .cd-popup-container .btn {
    color: #fff;
    font-weight: bold;
    padding: 18px 0px;
    width: 70%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    font-size: 15px;
    background-color: #6ba53e;
    box-shadow: 0 5px 0 #609736;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;

  }
  .cd-popup-container .btn:hover {
    background-color: #6ba53e;
    box-shadow: 0 5px 0 #53832f;
    border: none;
    transition-duration: .3s; -webkit-transition: all .3s ease-in-out; -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out; -o-transition: all .3s ease-in-out;
  }

  .cd-popup-container span {color: #969aa5; letter-spacing: .5px; font-size: 11px; font-family:"museo-sans", Helvetica, Arial, sans-serif;}
  .cd-popup-container h1 {
    padding: 1.2em 0;
    text-align: center;
    font-weight: 300;
    color: rgba(33, 39, 51, 1);
    line-height: 0em;
    margin-bottom: auto;
    text-transform: none;
    letter-spacing: .25px;
  }
  .cd-popup-container p {
    padding: 0px 0px 10px;
    text-align: center;
    display: inline-block;
    line-height: 35px;
    font-size: 1.5em;
    color: #6d7079;
    width: 80%;
    font-weight: 300;
  }
  .cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-popup-container .cd-buttons li {
    float: left;
    width: 100%;
  }
  .cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: "museo-sans", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .05em;
    text-align: center;
    text-decoration: none;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .cd-popup-container .cd-buttons li a {
    border-radius: 0 ;
    background-color: #f37d59;
    box-shadow: 0 5px 0 #ea6c46;
  }
  .no-touch .cd-popup-container .cd-buttons li a:hover {
    background-color:#eb663d; box-shadow: 0 5px 0 #cb5c3a;
    text-decoration: none;
  }

  .cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(181, 180, 180, 0.34);
    background: #ffffff;
  }

  .cd-popup-container .cd-popup-close:hover {
    text-decoration: none;
    border-color: rgba(237, 105, 26, 0.35);
  }

  .cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close:after {
    content: '';
    position: absolute;
    width: 27px;
    height: 2.25px;
    background-color:#B5B4B4;
    top: 14px;
  }


  .cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 2px;
  }
  .cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 2px;
  }
  .is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  @media only screen and (min-width: 1170px) {
    .cd-popup-container {
      margin: 8em auto;
    }
  }


  .cd-popup-container form input[type="email"], input[type="text"] {
  height: 50px;
  width: 300px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  box-shadow: none;
  float: none;
  box-sizing: border-box;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  }

  .cd-popup-container form input[type="email"]:focus,
  .cd-popup-container form input[type="text"]:focus {
    border: 1px solid #82ca4b; }

  .stop-scrolling {
      height: 100%;
      overflow: hidden;
  }


  @media only screen and (max-width: 920px)   {
      #download-guide, .pasty-nav .content .download-guide-cta {display: none;}
      .last-call h3 {width: 70%;min-width: 300px;}
  }

  @media only screen and (min-width:820px) {
      #phoneleft, #phoneright {display: inline-block;}
      #phones-creative {max-width: 710px;}
      #special-page-section .last-call > div p {width: 50%;}
  }

  @media only screen and (max-width: 780px)   {
      ._form .formwrapper {padding-bottom: 80px;}
      .last-call .right-image {display: none;}
      .last-call .lft-frm {width: 95%; margin: 20px auto 50px;}
      .last-call h3 {width: 100%;min-width: 300px;}
      .special-footer-links {height: 60px;}
      .special-footer-links span, .special-footer-links a {font-size: .9em;}
      .special-footer-links span {margin-right: 0%;}
  }

  @media only screen and (max-width: 670px)   {
      .pasty-nav {display: none;}
      #special-page-section .last-call > div p {width: 90%;}
  }

  @media only screen and (max-width: 650px)   {
      .pasty-nav {display: none;}
      #phones-creative {display: none;}
      #special-header .top-bar .right-side .share {display: none;}
      #special-header .top-bar .right-side .down-book {padding-top: 4px;}
      .special-footer-links span {display: block; margin-bottom: 10px; margin-top: 5px;}
      .special-footer-links {padding: 0 0 5%; margin-bottom: 0%;}
      #minimal-footer {display: block !important;}
      footer#graybar {display: none;}
      .cd-popup-container p {line-height: 1.5em ; font-size: 1.15em ;}
  }

  @media only screen and (max-width: 560px)   {
      .liftopia-temp01 {
          background-image: url('../img/special-pages/liftopia/01-liftopia-mobile.jpg');
          height: 800px;
          background-size: contain;
      }
      .liftopia-temp02 {
          background-image: url('../img/special-pages/liftopia/02-liftopia-mobile.jpg');
          height: 990px;
          background-size: contain;
      }
  }

  @media only screen and (max-width: 500px)   {
      ._form .formwrapper .slim-form {float: none;}
      ._form .formwrapper ._field ._option input[type="submit"], ._form ._field ._option input[type="button"] { width: 300px;}
      .text-content h2 {font-size: 1.8em;}
      #special-page-section .banner .headline h1 {font-size: 2.2em;}
      #special-page-section p {font-size: 14px;}
      div.creative-01, div.creative-02 {margin: 6% auto;}
      div.creative-02 {margin-bottom: 60px;}
      .text-content span.quote {font-size: 1.3em;}
      .text-content .end-quote {font-size: .8em;}
      .ac-form ._form ._field input[type="email"],
      ._form .formwrapper ._field ._option input[type="submit"], ._form ._field ._option input[type="button"] {width: 90%; margin: 2% auto; display: block;}
  }

  @media only screen and (max-width: 450px)   {
      .special-footer-links {display: none;}
      #special-header .top-bar .right-side .down-book {display: none;}
      #special-header .top-bar .left-side > a {display: inline-block;}
      #special-header .top-bar .left-side {width: 100%; padding-top: 10px; text-align: center;margin-top: 10px;}
      .cd-popup-container {overflow: initial;}
      .cd-popup-container .cd-popup-close {top: -40px; right: 0px;}
  }
