NAV REQUIREMENTS

Explanation:
Instead of just fixing the #product-nav let's clone it. This will solve the bump issue that we had
with the nav losing it's position by becoming fixed.

Let's use the same code that slided In & Out the logo and demo button at scroll on the product nav.
Let's also still use the code that highlighted the "active" sections. However, let's make 
those sections highlighted onscroll and on mouseclick.

The potitioning of the sections (new cloned #product-nav dynamic) after click it's still not 100% there, the cloned bar takes over the section name. Let's fix that.

Tasks:
• Clone #product-nav instead of just fixing it to the top. 
• Add active class to #product-nav links on mouseclick and onscroll to section.
• Fix the positioning of cloned #product-nav, giving space to read the green section headers.

--- Other:
At the home page (index.php) I have added the pop-up demo box to the Schedule Demo button. How can we make it so that the opening of the box doesn't send the user to the top of the page while keeping the same viewpoint (keep the user at the #last-call section / bottom of the page)